:root {
  --text: "Times New Roman", Times, serif;
  --text_color: #000;
  --btn-color: #ffd362;
}


html{
  scroll-behavior: smooth
}


/* Start Footer */
.footer {
  background-color: #ffffff;
  min-height: 530px;
}

.footer-content {
  margin-top: 100px;
  margin-left: 20px;
}

.h3-title {
  font-size: 19px;
  line-height: 24px;
  padding-top: 8px;
  padding-bottom: 25px;
  order: 0;
  font-family: var(--text);
  font-weight: 900;
  color: var(--text_color);
  text-align: left;
  text-transform: uppercase;
}

input[type="text"] {
  width: 100%;
  border: 0;
  border-bottom: 1px solid #000;
  margin-bottom: 6px;
  height: 40px;
}
input[type="text"]:focus {
  outline: solid 3px #639af9;
  outline-offset: 5px;
  visibility: visible;
  opacity: 1;
  outline-style: inset;
}

.row-full {
  width: 75vw;
  position: relative;
  left: 11%;
}

.form-font {
  font-size: 15px;
  font-family: var(--text);
}
.row{
  max-width: 100%;
}
.footer-nav-header {
  margin-right: 0px;
  padding: 0px 0px 30px 0px;
  font-family: var(--text);
  color: var(--text_color);
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: none;
  white-space: nowrap;
}

.footer-nav-header-subs {
  margin-bottom: 5px;
}

.footer-nav-header-subs a {
  text-decoration: none !important;
  margin-bottom: 50px !important;
  margin-right: 0px;
  padding-right: 0px;
  font-family: var(--text);
  color: var(--text_color);
  font-size: 18px;
  line-height: 26px;
  text-transform: none;
  white-space: nowrap;
}

.footer-nav-header-subs:active {
  outline: solid 3px #639af9;
  outline-offset: 5px;
  visibility: visible;
  opacity: 1;
  outline-style: inset;
}

.btn {
  font-family: var(--text);
}

.btn-xl {
  padding: 15px 30px;
  font-size: 20px;
  border: none;
  background-color: var(--btn-color);
}

/* End Footer */

header {
  position: relative;
  /* background-color: black; */
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}
header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .head-container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

.row-header {
  margin: 0px auto;
  padding: 0px;
}
.row-content {
 /* Work-page */
    margin-left: 0px;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:400px;
}
  h2{
      font-size: 52px;
  }
  .card-text-style{
    padding-right: 15px;
    padding-left: 15px;
    background-color: #ffd362;
    margin-bottom: 0%;
    color: #000;
  }

  video {
    width: 100%;
    height: auto;
    max-width: 1280px;
  }
  .dark-cont{
    margin-top: 7em;
    min-width: 100%;
    min-height: 75%;
    background-color:black;
}
.subtitles-txt{
    font-family: fantasy;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;

  margin: 0px auto;
  padding: 50px 0px 50px 0px;
  

}
.titles-txt{
  font-family: fantasy;
  -webkit-text-fill-color: #ffd362;
}
.header-bar{
  /* background-image: url('https://mdbootstrap.com/img/new/slides/003.jpg'); */
  max-height: 400px;
  background: url('https://mdbootstrap.com/img/new/slides/003.jpg') no-repeat center fixed;
  background-size: cover;
}

.navbar-brand {
  position: absolute;
  left: 50%;
  margin-left: -50px !important;  /* 50% of your logo width */
  display: block;
}

.container {
  margin-top: 10em;
  margin-bottom: 5em;
}

h2 {
  font-size: 52px;
}
.card-text-style {
  padding-right: 15px;
  padding-left: 15px;
  background-color: #ffd362;
  margin-bottom: 0%;
  color: #000;
}

.card-title{
  font-family: 'Brush Script MT','Lucida Handwriting',cursive;
}

video {
  width: 100%;
  height: auto;
  max-width: 1280px;
}

.css-card {
  margin: 0 auto;
  float: none;
  border: none;
  background: none;
  color: #ffffff;
}
.part-card {
  background: none;
}

#partner{
  padding: 0;
  margin: 0px 10px;
  max-width: 170px;
  border: 0px;
}

#partner img{
  height: 150px;
}
#partner .card-body{
  padding: 3px;
}

.partners-container{
  margin-left: 2em;
}

.css-card div {
  padding-left: 0;
}

.arrow-img {
  width: 20%;
  height: 10%;
  background: var(--btn-color);
  -moz-border-radius: 70px;
  -webkit-border-radius: 70px;
  border-radius: 70px;
}

.seemore-btn {
  border-radius: 0px;
  background-color: var(--btn-color);
}

.seemore-btn div{
  color: black !important;
}

.carousel .carousel-control {
  visibility: hidden;
}
.carousel:hover .carousel-control {
  visibility: visible;
}


.client-logos{
  max-width: 200px;
  max-height: 150px;
}

.partners-cont{
  transition: transform .7s ease-in-out;
  margin-bottom: 10px;
}
.partners-big{
  margin-left: 5px;
  margin-right: 0%;
  border-bottom: 2px solid gray;
}
.partners-cont :hover{
  transform: rotate(2deg);
}
.card :hover{
  transform: rotate(0deg);
}
.fancy-txt{
  font-family: 'Brush Script MT','Lucida Handwriting',cursive;
}
.events-bg{
  background: url("https://assets.website-files.com/5f3466a6e484ac06f6c32ed8/5f43ff2c9a790b74f01d0548_Decorative%20Line.png") no-repeat;
    background-position: 50% 50%;
    background-size: auto;
    background-repeat: no-repeat;
}